{{>_header}}
{{>_msg}}
<div class="container-fluid my-4">
    <form action="/search">
    <div class="input-group">
    <input type="search" name="query" class="form-control " placeholder="Search item...">
     <div class="input-group-append">
         <button class="btn" id="btnItem" type="submit">Search item</button>
     </div>
    </div>
    </form>
</div>
<div class="container my-5">
    <div class="row">
        <div class="col-md-8 ">
     <h5 class="text-center my-2">Item Detail</h5>

             <div class="card" id="showCard">
       <img class="card-img-top" id="firstImg" src="{{item.image}}">
       <div class="card-body">
         <h5 class="card-title text-center"> <a href="/item/{{item.id}}">{{item.title}}</a> <span class="price"> N{{item.price}}</span></h5>
         <p class="card-title text-center">Description: </p>
         <p>{{item.description}}</p>
      

       </div>
       <div class="card-footer d-flex justify-content-around">
          <p id="mail">email seller</p>
          <p id="what"><a href="whatsapp://send?text=Hi! enquiry on product, {{item.title}}, Price: N{{item.price}}, Description: {{item.description}} &phone=+{{item.user.mobile}}">whatsapp <i class="fa fa-whatsapp"></i></a></p>

       </div>
     </div>
     
  
<div class="container mt-5 p-3" id="regContainer">
    <i class="fa fa-times pull-right text-white" id="remove"></i>
    <h5 class="text-center">Email Seller</h5>
    <form action="/email-product" method="POST">
    <div class="form-group">
        <label>Your name</label>
        <input type="text" name="buyer" class="form-control">
    </div>
     <div class="form-group">
         <label>Mobile number</label>
        <input type="phone" name="mobile" class="form-control">
    </div>
     <div class="form-group">
         <label>Email</label>
        <input type="email" name="email" class="form-control">
    </div>
     <div class="form-group">
         <label>Product name</label>
        <input type="text" name="title" id="disable" class="form-control" value="{{item.title}}">
    </div>
     <div class="form-group">
         <label >Price</label>
        <input type="number" name="price" id="disable1" class="form-control" value="{{item.price}}">
       </div>

        <input type="text" name="image" id="pImage" class="form-control" value="{{item.image}}">
        <div class="form-group" id="pImages">
        <label>Product image</label><br>
        <img class="img-thumbnail" src="{{item.image}}" width="150px" heigh="150px">
    </div>
     <div class="form-group">
         <label>Description </label>
         <textarea name="description" id="disable2" class="form-control" rows="5">{{item.description}}</textarea>
    </div>
  <input type="email" name="seller" class="" id="sellerEmail" value="{{item.user.email}}">

   <div class="form-group">
       <button class="btn btn-success d-block mx-auto" id="regBtn">Send</button>
   </div>
   <p class="p-2 text-center"> By clicking the "send" button, you agree to Ridex's <a href="/disclaimer">terms of acceptable use </a></p>
    </form>
</div>
<div class="container mt-2">
 <p class="text-center" id="homepage"><a href="/" id="regLink">Homepage</a></p>

</div>
<p class=" mb-3" id="sup"><a href="/support" >? Support </a></p>

        </div>
           <div class="col-md-4">
               {{#if similar}}
            <h5 class="text-center my-2">Similar Products</h5>
              {{/if}}
              {{#each similar}}
     <div class="card">
       <img class="card-img-top" id="firstImg" src="{{image}}">
       <div class="card-body">
         <h5 class="card-title text-center">{{title}} <span class="price"> N{{price}}</span></h5>
         <p class="card-title text-center"><a href="/item/{{_id}}">Details</a></p>
       </div>
     </div>
     {{/each}}
         
     </div>
    </div>
</div>


<style>
     
     #sellerEmail{
          background: gold;
          border: none;
          color:gold;
     }
    #pImage{
      background: gold;
      color:gold;
      border: none;
      
    }
   
  .fa-times{
      font-weight: bold;
      font-size: 1.2em;
      cursor: pointer;
  }
   #showImage{
    border-radius: 5px;
  }
  #showCard{
    background: ghostwhite;
  }
    .form-group{
        padding:5px;
    }
    #regBtn{
        width:25vw;
        padding:10px;
      margin-top: 10px;

    }
    #sup a{
        color:white;
        text-decoration: none;
    }
    label{
        padding:5px;
    }
    #regLink{
        text-decoration: none;
        
    }
    #regContainer{
        width:30vw;
        background: gold;
        border-radius: 5px;
        display:none;
    }
    #regContainer a{
        text-decoration: none;
    }
    #sup{
        background: black;
        color:gold;
        border-radius: 5px;
        width: 7em;
        text-align: center;
        padding:5px;
        margin:auto;
        display: none;
        
        
    }
    #homepage{
        display: none;
    }
    #mail{
        color:goldenrod;
        font-weight: bold;
        cursor: pointer;
    }
     #what a{
        color:goldenrod;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
    }


    @media screen and (max-width:576px){
        #regContainer{
        width:85vw;
        background: gold;
    }
     #regBtn{
        width:65vw;
        padding:10px;
        margin-top: 10px;
    }
    }
</style>

{{>_footer}}


<script>
    var home = document.getElementById('homepage');
     var container = document.getElementById('regContainer');
    var remove = document.getElementById('remove');
     var mail = document.getElementById('mail');
     var support = document.getElementById('sup');

      mail.addEventListener('click', function(){
          container.style.display = 'block';
          home.style.display = 'block';
          support.style.display = 'block';

      });
        remove.addEventListener('click', function(){
          container.style.display = 'none';
          home.style.display = 'none';
          support.style.display = 'none';

      });



</script>

<script>

    
 var disable = document.getElementById('disable');
    var image = document.getElementById('pImage');
   var disable1 = document.getElementById('disable1');
    var disable2 = document.getElementById('disable2');
  var sell = document.getElementById('sellerEmail');


image.addEventListener('mousedown', function(e){
    e.preventDefault();
});



sell.addEventListener('mousedown', function(e){
    e.preventDefault();
});
 

disable.addEventListener('mousedown', function(e){
    e.preventDefault();
});



disable1.addEventListener('mousedown', function(e){
    e.preventDefault();
});


disable2.addEventListener('mousedown', function(e){
    e.preventDefault();
});

</script>